@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
  overflow-x: hidden;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
  overflow-x: hidden;
}

.greeting-main {
  display: flex;
  align-items: center;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}
.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: $textColor !important;
  text-align: left;
  text-align: left;
  font-family: cursive;
  font-style: italic;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
  margin-top: 1rem;
  text-align: left;
  font-family:"Montserrat"
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
  > img {
    max-width: 100%;
    height: auto;
  }
  
  > div {
    width: 100% !important;
    height: 100% !important;
  }
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (min-width: 1600px) {
  .greeting-text {
    font-size: 85px;
    line-height: 1.1;
  }
  .greeting-text-p {
    font-size: 35px;
    line-height: 1.4;
  }
  .button-greeting-div {
    margin-top: 50px;
  }
  .main {
    max-width: 1400px;
  }
  .greet-main {
    max-width: 1400px;
  }
}

@media (min-width: 1920px) {
  .greeting-text {
    font-size: 95px;
  }
  .greeting-text-p {
    font-size: 40px;
  }
  .main {
    max-width: 1600px;
  }
  .greet-main {
    max-width: 1600px;
  }
}

@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
  .greeting-image-div {
    height: 256px;
  }
  .main {
    margin-top: 2rem;
  }
  .greet-main {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .button-greeting-div {
    gap: 25px;
  }
  .greeting-text {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }
  .greeting-text-p {
    font-size: 15px;
  }
  .greeting-image-div {
    height: 220px;
  }
}

@media (max-width: 320px) {
  .main {
    width: 95%;
    padding: 15px 10px;
    overflow-x: hidden;
  }
  .greet-main {
    width: 95%;
    padding: 15px 10px;
    overflow-x: hidden;
  }
}
