@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-weight: 400;
  font-size: 1.5rem
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
  color:rgb(47, 5, 90)
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}



.contact-image-div  > div{
 width:100% !important;
 height:100% !important;
 overflow-y: hidden;

 } /* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div {
    display: none;
  }

  .profile-photo-contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
